.profile {
    background-color: whitesmoke;
    height: 100vh;
}

.avatar {
    width: 125px;
    height: 125px;
    border-radius: 113px;
    border: 2px solid #99CCFF;
    overflow: hidden;
    background-size: contain;
}