.panel {
    background-color: #99CCFF;
    height: 100vh;
}

.searchFilter {
    width: 88%;
    display: block;
    margin: auto;
}

.btnRight {
    margin-left: 10px;
}

.nameLink {
    height: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
    margin-bottom: 5px;
    font-weight: 500;
}

.nameLink:hover {
    cursor: pointer;
    text-decoration: underline;
}

.namesContainer {
    margin-top: 20px;
}