<div class="panel">
    <h2 class="text-center pt-2">My Address Book</h2>
    <input type="text" (change)="filter($event)" class="form-control searchFilter mt-2">
    <div class="d-flex justify-content-end mt-2 pe-4">
        <button (click)="changeSortAsc()" class="btn btn-secondary"><fa-icon [icon]="faSortAmountUp"></fa-icon></button>
        <button (click)="changeSortDesc()" class="btn btn-secondary btnRight"><fa-icon [icon]="faSortAmountDown"></fa-icon></button>
    </div>
    <div class="namesContainer">
        <div *ngFor="let entry of entriesAlphabetical" class="nameLink">
            <a (click)="showProfile(entry)"><fa-icon [icon]="faAddressBook"></fa-icon> {{entry.name}}</a>
        </div>
    </div>
</div>